body{
    background-color: #fefae0;
    font-family: sans-serif;
}

#lista-tarefas{
    background-color: #ccd5ae;
    border-radius: 5px;
    border: solid 4px #457b9d;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.item-lista{
    /* border: solid 2px red; */
    margin-left: 15px;
}